{% extends 'base.html' %}
{% load static %}

{% block contenido %}

	<h1>PAGINA DE NOTICIAS</h1>
    <br>
    {% for n in notis %}
    <h2><a href="{% url 'noticias:noticia_detalles' %}?titulo={{ n.titulo }}">{{ n.titulo }}</a></h2>
        <p>CATEGORIA: {{ n.categoria }}</p>
        {% if n.autor %}
            <p>AUTOR: {{ n.autor }}</P>
        {% endif %}
        <p>PUBLICADO: {{ n.creado }}</p>
        <p>CUERPO: {{ n.cuerpo }}</p>
        {% if n.imagen %}
            <img src="{{ n.imagen.url }}" width="100px" height="100px">
        {% else%}
            <p>NO TIENE IMAGEN </p>
        {% endif %}
    {% endfor %}

{% endblock contenido %}