{% extends 'base.html' %}
{% load static %}

{% block contenido %}

	<h1>NOTICIAS</h1>
    <br>
    <div class="caja_noticia">
        {% for n in notis %}
        <a href="{% url 'noticias:noticia_detalles' %}?titulo={{n.titulo}}" ><h2>{{ n.titulo }}</h2></a>
            {% if n.autor %}
                <p>AUTOR: {{ n.autor }}</P>
            {% endif %}
            <p>PUBLICADO: {{ n.creado }}</p>
            <p>CATEGORIA: {{ n.categoria }}</p>
            {% if n.imagen %}
                <img src="{{ n.imagen.url }}"class="img_ancho">
            {% else%}
                <p>NO TIENE IMAGEN </p>
            {% endif %}
            <p>CUERPO: {{ n.cuerpo }}</p>
        {% endfor %}
    </div>
{% endblock contenido %}