{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main3.css' %}">
	<h1>NOTICIAS</h1>
    <br>
    <div class="caja_filtro" style="background-color:grey; color:white;">
        <form action="{% url 'noticias:listar_noticias' %}">
            <label>CATEGORIAS</label>
            <BR>
            <select name="categoria" id="categoria">
                <option value="0">Seleccione una categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria.pk}}">{{categoria.nombre}}</option>
                {% endfor %}
            </select>
            <br>
            <label>AUTORES</label>
            <BR>
            <select name="autor" id="autor">
                <option value="0">Seleccione un autor</option>
                {% for autor in autores %}
                {% if autor %}
                    <option value="{{autor}}" name="autor">{{autor}}</option>
                {% else %}
                    <option value="" name="autor">Sin autor</option>
                {% endif %}
                {% endfor %}
            </select>
            <div class="Fecha">
            <label>Fecha</label>
            <br>
                <div class="anio">
                <label>Año</label>
                <br>
                <select name="anio" id="">
                    <option value="0">Seleccione un año</option>
                    {% for anio in anios %}
                    <option value="{{anio}}">{{anio}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="meses">
                <label>MES</label>
                <br>
                <select name="mes" id="mes">
                    <option value="0">Seleccione un mes</option>
                {% for mes in meses %}
                    <option value="{{forloop.counter}}">{{mes}}</option>
                {% endfor %}
                </select>
                </div>
            </div>
            <input type="submit" value="Filtrar" style="background-color:green">
            <a href="{% url 'noticias:listar_noticias' %}"><button style="background-color:yellow">Limpiar</button></a>
        </form>
    </div>
        {% if notis %}
        {% for n in notis %}
        <div class="caja_noticia">
            <a href="{% url 'noticias:noticia_detalles' n.titulo %}" ><h2>{{ n.titulo }}</h2></a>
                {% if n.autor %}
                    <p>AUTOR: {{ n.autor }}</P>
                {% endif %}
                <p>PUBLICADO: {{ n.creado }}</p>
                <p>CATEGORIA: {{ n.categoria }}</p>
                {% if n.imagen %}
                    <img src="{{ n.imagen.url }}" class="img_ancho">
                {% else%}
                    <p>NO TIENE IMAGEN </p>
                {% endif %}
                <p>{{ n }}</p>
            </div>
            {% endfor %}
            {% else %}
                <h3>No existen noticias con los parametros ingresados</h3>
            {% endif %}


            <div class="numeroPaginas">
            {% if masdeunapag %}
                {% for pag in masdeunapag %}
                    <a href="{% url 'noticias:listar_noticias' pag%}">{{pag}}</a>
                {% endfor %}
            {% endif %}
            </div>
{% endblock contenido %}