{% extends 'base.html' %}
{% load static %}

{% block contenido %}

    <h2>{{ notis.titulo }}</h2>
        <p>CATEGORIA: {{ notis.categoria }}</p>
        {% if notis.autor %}
            <p>AUTOR: {{ notis.autor }}</P>
        {% endif %}

        <p>CUERPO: {{ notis.cuerpo|safe }}</p>
        {% if notis.imagen %}
            <img src="{{ notis.imagen.url }}" width="100px" height="100px">
        {% else%}
            <p>NO TIENE IMAGEN </p>
        {% endif %}

        <br>

        <div class="Cajacomentarios">
        {% for coment in coments %}
            <div class="comentario" style="background:lightblue;">
            <h3>{{coment.usuario}}</h3>
            <p>{{coment.cuerpo}}</p>
            <h7>{{coment.creado}}</h7>
            </div>
            <br>
        {% endfor %}
        </div>

{% endblock contenido %}