{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
    <div class="login">
    <!-- login header -->
      <h1 id="header">Registrate</h1>
    <!-- start da login goodness -->
      <form id="form" method="POST">{% csrf_token %}
        {{form.errors}}
        <input type="text" placeholder="Usuario" maxlength="16" name="username"><br><br>
        <input type="password" placeholder="Contraseña" name="password"><br><br>
        <input type="submit" name="" value="ENVIAR">
      </form>
    </div>

{% endblock contenido %}