/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* sets whole page to Open Sans and sets background color */


/* login div */
.login {
  background-color: #eee;
  width: 420px;
  height: 312px;
  margin: 2% auto;
  padding: 0;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.registro {
  background-color: #eee;
  width: 420px;
  /*height: 560px;*/
  margin: 2% auto;
  padding: 0;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

/* login header */
h1 {
  color: #55acee;
  text-align: center;
  font-size: 36px;
  padding-top: 10px;
}

/* div containing form */
form {
  text-align: center;
}

/* username and password fields */
input:not([type="submit"]) {
  font-family: "Open Sans", "sans-serif";
  border: 1px solid #acacac;
  color: #666;
  opacity: 0.7;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 250px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-size: 16px;
}

input:focus:not([type="submit"]) {
  border: 1px solid #55acee;
  opacity: 1;
  width: 320px;
  outline: none;
  color: #55acee;
}

/* submit button */
input[type="submit"] {
  padding: 15px 25px;
  font-size: 22px;
  width: 370px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
  outline: none;
  border: none;
}

input[type="submit"]:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

input[type="submit"]:hover {
  background-color: #6fc6ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}