{% extends 'base.html' %}
{% load static %}

{% block contenido %}

	<h1>QUIÉNES SOMOS</h1>
    <p>Comunidades Eclesiales de Base (CEBs) Castelli</p>
    <p>Somos una Asociación Civil sin fines de lucro que busca canalizar todos los impulsos 
        solidarios en acciones concretas. A través de este Blog, buscamos conectar personas que están dispuestas a ayudar con aquellos que realmente lo necesitan.
        </p>
    <p>La CEBs Castelli se divide en un total de 12 comunidades, las cuales están
        divididas en tres sectores (Norte-Centro-Sur).
        </p>
    <img src="{% static 'img/quienes/fundacion1.jpg' %}" width="800" height="200" alt="Logo">
	<br>
    <div>
    <p></p>
    
    </div>

    <h1>MISION Y VISION</h1>
    <p>La CEBs por estar insertada en los barrios más humildes de la ciudad y en la
        zona rural, son una instancia misionera de la iglesia más próxima a las personas y hacen más 
        visible la unión entre fe y vida.</p>
        <br>
    <p>Las CEBs articulan el compromiso cristiano “opción por los pobres”, la lucha
        por la Justicia Social, los Derechos Humanos, de Género y de nuestros Pueblos 
        Originarios, llevando adelante obras caritativas y solidarias.</p> 

    <h1>Entre las actividades que realizan, se encuentran:</h1>

    <p>Talleres de Derechos humanos</p>
    <p>Talleres sobre Violencia de Género</p>
    <p>Talleres sobre Adicciones</p>
    <p>Talleres de Emprendimiento</p>
    <p>Huerta Orgánica</p>
    <p>Organizar Fiestas Patronales</p>
    <p>Charlas sobre inquietudes y problemas de zonas desfavorables para luego llevarlas con la autoridad correspondiente </p>
    <p>Encuentros con los Jóvenes</p>
    <h1>LUGAR</h1>
    <p>Casa Angelelli - Barrio “Chacra 108” calle Mistol - J.J. Castelli</p>
    <h1>INFORMACION DE CONTACTO</h1>
    <p>3644-349940 - Rosana Toledo - Delegada Diosesana</p>
    <p>3644-621885 - Ana Belen Molina - Asesora de comunidades.</p> 
    <h1>REDES SOCIALES</h1>
    <p>Grupo de facebook: “Angel de la Bicicleta(cebs)”</p>
    <p>Instagram: Elangeldelabicicletacastelli</p> 
{% endblock contenido %}