{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="ubicacion_google_maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3587.9949651001994!2d-60.6410204!3d-25.9353901!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94404d66bddfecb9%3A0x1164c703b4c996ad!2sSal%C3%B3n%20Angelelli%2C%20comunidades%20Eclesiales%20de%20Base!5e0!3m2!1ses-419!2sar!4v1661613291705!5m2!1ses-419!2sar" width="1162" height="455" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div id ="lugar" class="container">
    <div class="text-center"> 
        <FONT FACE="impact" SIZE=6 COLOR="red">LUGAR</FONT>   
        <div class="line-shape"></div>
        <p>Casa Angelelli - Barrio “Chacra 108” calle Mistol - J.J. Castelli</p>
    </div>
</div>  
<br><br>

<div class="container">
    <div class="text-center">
        <FONT FACE="impact" SIZE=6 COLOR="red">INFORMACION DE CONTACTO</FONT> 
        
        <div class="line-shape"></div>
        <p>3644-555555 - Rosana Toledo - Delegada Diosesana</p>
        <p>3644-333333 - Ana Belen Molina - Asesora de comunidades.</p> 
    </div>
</div>  
<br><br>

{% endblock contenido %}